// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// If you want to add something do it here
@import "custom";

.errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }
.sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }
// .alert, .toast{
//     position: absolute !important;
//     top:0px !important;
//     right: 0px !important;
//     z-index: inherit;
//  }

.overlay {
  position: absolute;
    top: 50%;
    left: 50%;
}
.alert{
  position: absolute !important;
    right: 0px !important;
    z-index: 99;
}
.toast-header {
  color: white !important;
  padding: 20px !important;
}